In [ ]:
import pandas as pd
import numpy as np
from scipy.spatial import distance

In [ ]:
print(1-distance.cosine([3,5],[4,6]))
print(1-distance.cosine([4,7,3,5],[4,7,4,6]))

0.9988681377244375
0.9941988341195412

In [ ]:
#set train and test
train=pd.read_csv('u1.base',sep='\t',names=['user_id','item_id','rating','timestamp'])
test=pd.read_csv('u1.test',sep='\t',names=['user_id','item_id','rating','timestamp'])
print(train['user_id'].value_counts())
print(test.shape)

655    685
405    582
450    494
537    490
416    417
      ...
93       9
172      9
258      8
228      7
310      4
Name: user_id, Length: 943, dtype: int64
(20000, 4)

In [ ]:
#for other folds just use u2,u3,u4,u5 instead of u1 and repeat
train=pd.read_csv('u5.base',sep='\t',names=['user_id','item_id','rating','timestamp'])
test=pd.read_csv('u5.test',sep='\t',names=['user_id','item_id','rating','timestamp'])
print(train['user_id'].value_counts())
print(test.shape)

405    643
13     585
655    523
450    483
276    479
      ...
866      8
941      7
917      7
895      6
873      5
Name: user_id, Length: 943, dtype: int64
(20000, 4)

In [ ]:
#make user_id x item_it 2d array called ratings
ratings = np.empty(shape=(944,1683))
ratings[:] = np.nan
#copy training data(given ratings) into 2d array
for i in range(train.shape[0]):
  #print(i)
  temp = train.iloc[[i]]
  ratings[temp['user_id'][i]][temp['item_id'][i]] = temp['rating'][i]
print('copied')

copied

In [ ]:
#preprocessing for k=10
nb_10 = [[-1,-1,-1]]
su_10 = [[-1,-1,-1]]

for I in range(1,1683):
  similar_arr=[]
  neighbor_items = []
  for item in range(1,1683):
    if(item==I):
      continue
    #get similar items
    q = np.argwhere(np.isnan(ratings[:,I])).ravel()#get list of indices of nan in I'th column of ratings (all users who rated Item I)
    qq = np.argwhere(np.isnan(ratings[:,item])).ravel()#get list of indices of nan in item'th column of ratings (all users who rated Item item)
    indexs = np.union1d(q,qq)#union both list of indices
    similarity = 1 - distance.cosine(np.delete(ratings[:,I],indexs),np.delete(ratings[:,item],indexs))#delete those indices from both arrays and calculate similarity
    if(np.isnan(similarity)==False):#sometimes ,no user rated both,so both array empty, and cosine of empty return nan, so handle nan
      similar_arr.append(similarity)
      neighbor_items.append(item)
  #sort neighbor_items based on similar_arr
  topK = [x for _,x in sorted(zip(similar_arr,neighbor_items),key=lambda x:x[0],reverse=True)]
  similar_arr.sort(reverse=True)
  #get top 10 neighbours
  if(len(topK)>10):
    topK = topK[0:10]
    similar_arr = similar_arr[0:10]
  #append neighbors to final_array
  nb_10.append(topK)
  su_10.append(similar_arr)

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [ ]:
#preprocessing for k=20
#same logic as above
nb_20 = [[-1,-1,-1]]
su_20 = [[-1,-1,-1]]

for I in range(1,1683):
  similar_arr=[]
  neighbor_items = []
  for item in range(1,1683):
    if(item==I):
      continue
    #get similar items
    q = np.argwhere(np.isnan(ratings[:,I])).ravel()
    qq = np.argwhere(np.isnan(ratings[:,item])).ravel()
    indexs = np.union1d(q,qq)
    similarity = 1 - distance.cosine(np.delete(ratings[:,I],indexs),np.delete(ratings[:,item],indexs))
    if(np.isnan(similarity)==False):#no user rated both
      similar_arr.append(similarity)
      neighbor_items.append(item)
  #sort neighbor_items based on similar_arr
  topK = [x for _,x in sorted(zip(similar_arr,neighbor_items),key=lambda x:x[0],reverse=True)]
  similar_arr.sort(reverse=True)
  #take top 20 instead of top 10
  if(len(topK)>20):
    topK = topK[0:20]
    similar_arr = similar_arr[0:20]

  nb_20.append(topK)
  su_20.append(similar_arr)

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [ ]:
#preprocessing for k=30
nb_30 = [[-1,-1,-1]]
su_30 = [[-1,-1,-1]]

for I in range(1,1683):
  similar_arr=[]
  neighbor_items = []
  for item in range(1,1683):
    if(item==I):
      continue
    #get similar items
    q = np.argwhere(np.isnan(ratings[:,I])).ravel()
    qq = np.argwhere(np.isnan(ratings[:,item])).ravel()
    indexs = np.union1d(q,qq)
    similarity = 1 - distance.cosine(np.delete(ratings[:,I],indexs),np.delete(ratings[:,item],indexs))
    if(np.isnan(similarity)==False):#no user rated both
      similar_arr.append(similarity)
      neighbor_items.append(item)
  #sort neighbor_items based on similar_arr
  topK = [x for _,x in sorted(zip(similar_arr,neighbor_items),key=lambda x:x[0],reverse=True)]
  similar_arr.sort(reverse=True)
  #take top 30 instead of 20
  if(len(topK)>30):
    topK = topK[0:30]
    similar_arr = similar_arr[0:30]

  nb_30.append(topK)
  su_30.append(similar_arr)

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [ ]:
#preprocessing for k=40
nb_40 = [[-1,-1,-1]]
su_40 = [[-1,-1,-1]]

for I in range(1,1683):
  similar_arr=[]
  neighbor_items = []
  for item in range(1,1683):
    if(item==I):
      continue
    #get similar items
    q = np.argwhere(np.isnan(ratings[:,I])).ravel()
    qq = np.argwhere(np.isnan(ratings[:,item])).ravel()
    indexs = np.union1d(q,qq)
    similarity = 1 - distance.cosine(np.delete(ratings[:,I],indexs),np.delete(ratings[:,item],indexs))
    if(np.isnan(similarity)==False):#no user rated both
      similar_arr.append(similarity)
      neighbor_items.append(item)
  #sort neighbor_items based on similar_arr
  topK = [x for _,x in sorted(zip(similar_arr,neighbor_items),key=lambda x:x[0],reverse=True)]
  similar_arr.sort(reverse=True)
  #take top 40
  if(len(topK)>40):
    topK = topK[0:40]
    similar_arr = similar_arr[0:40]

  nb_40.append(topK)
  su_40.append(similar_arr)

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [ ]:
nb_10[175]
for x in nb_10[175]:
  print(ratings[1][x])

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [ ]:
def getR_itemBased(U,I,K):
  # made case for k=10,20,30,40 but all 4 cases same logic
  if(K==10):
    #weighted avg of topK[U]
    R_sum=0
    R_denom_sum=0
    #go through neighbours of item I
    for i in range(min(K,len(nb_10[I]))):
      #if user U rated neighbor i of item I
      if(np.isnan(ratings[U][nb_10[I][i]])==False):
        #weight the rating given by user U by item i's similarity with item I
        R_sum += (su_10[I][i] * ratings[U][nb_10[I][i]])
        R_denom_sum+=(su_10[I][i])
    if(R_denom_sum==0):
      #if user U did not rate any neihbor of item I then return 3 to minimize mae
      return 3
    else:
      #return rating
      return R_sum/R_denom_sum
  #same logic for rest 3 cases
  if(K==20):
    R_sum=0
    R_denom_sum=0
    for i in range(min(K,len(nb_20[I]))):
      if(np.isnan(ratings[U][nb_20[I][i]])==False):
        R_sum += (su_20[I][i] * ratings[U][nb_20[I][i]])
        R_denom_sum+=(su_20[I][i])
    if(R_denom_sum==0):
      return 3
    else:
      return R_sum/R_denom_sum
  if(K==30):
    #weighted avg of topK[U]
    R_sum=0
    R_denom_sum=0
    for i in range(min(K,len(nb_30[I]))):
      if(np.isnan(ratings[U][nb_30[I][i]])==False):
        R_sum += (su_30[I][i] * ratings[U][nb_30[I][i]])
        R_denom_sum+=(su_30[I][i])
    if(R_denom_sum==0):
      return 3
    else:
      return R_sum/R_denom_sum
  if(K==40):
    R_sum=0
    R_denom_sum=0
    for i in range(min(K,len(nb_40[I]))):
      if(np.isnan(ratings[U][nb_40[I][i]])==False):
        R_sum += (su_40[I][i] * ratings[U][nb_40[I][i]])
        R_denom_sum+=(su_40[I][i])
    if(R_denom_sum==0):
      return 3
    else:
      return R_sum/R_denom_sum

In [ ]:
#calculate mae
#K=10 fold 1
mae_sum=0
mae_cnt=0
#go through test
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],10)
  #get rating for each test
  if(np.isnan(R)==True ):
    #this case never happens
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   
#calculate mae
print('Fold 1 K=10 MAE : ',mae_sum/mae_cnt)

#same logic for other K's and fold's

Fold 1 K=10 MAE :  1.0796726388888884

In [ ]:
#K=20 fold 1
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],20)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 1 K=20 MAE : ',mae_sum/mae_cnt)

Fold 1 K=20 MAE :  1.0970476571712606

In [ ]:
#K=30 fold 1
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],30)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 1 K=30 MAE : ',mae_sum/mae_cnt)

Fold 1 K=30 MAE :  1.1092734595526967

In [ ]:
#K=40 fold 1
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],40)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 1 K=40 MAE : ',mae_sum/mae_cnt)

Fold 1 K=40 MAE :  1.1165158104815145

In [ ]:
#K=10 fold 2
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],10)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 1 K=40 MAE : ',mae_sum/mae_cnt)

Fold 1 K=40 MAE :  1.065570337301587

In [ ]:
#K=20 fold 2
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],20)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 1 K=40 MAE : ',mae_sum/mae_cnt)

Fold 1 K=40 MAE :  1.088287279930037

In [ ]:
#K=30 fold 2
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],30)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 1 K=40 MAE : ',mae_sum/mae_cnt)

Fold 1 K=40 MAE :  1.1026329648098856

In [ ]:
#K=40 fold 2
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],40)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 1 K=40 MAE : ',mae_sum/mae_cnt)

Fold 1 K=40 MAE :  1.1086542602317127

In [ ]:
#K=10 fold 3
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],10)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 3 K=10 MAE : ',mae_sum/mae_cnt)

Fold 3 K=10 MAE :  1.0400490476190476

In [ ]:
#K=20 fold 3
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],20)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 3 K=20 MAE : ',mae_sum/mae_cnt)

Fold 3 K=20 MAE :  1.0543824472178156

In [ ]:
#K=30 fold 3
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],30)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 3 K=30 MAE : ',mae_sum/mae_cnt)

Fold 3 K=30 MAE :  1.0615941935975013

In [ ]:
#K=40 fold 3
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],40)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 3 K=40 MAE : ',mae_sum/mae_cnt)

Fold 3 K=40 MAE :  1.0668443340867804

In [ ]:
#K=10 fold 4
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],10)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 4 K=10 MAE : ',mae_sum/mae_cnt)

Fold 4 K=10 MAE :  1.0344744047619054

In [ ]:
#K=20 fold 4
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],20)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 4 K=20 MAE : ',mae_sum/mae_cnt)

Fold 4 K=20 MAE :  1.0505659146044022

In [ ]:
#K=30 fold 4
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],30)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 4 K=30 MAE : ',mae_sum/mae_cnt)

Fold 4 K=30 MAE :  1.0585370620812244

In [ ]:
#K=40 fold 4
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],40)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 4 K=40 MAE : ',mae_sum/mae_cnt)

Fold 4 K=40 MAE :  1.063964437894584

In [ ]:
#K=10 fold 5
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],10)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 5 K=10 MAE : ',mae_sum/mae_cnt)

Fold 5 K=10 MAE :  1.0338650198412693

In [ ]:
#K=20 fold 5
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],20)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 5 K=20 MAE : ',mae_sum/mae_cnt)

Fold 5 K=20 MAE :  1.0516416391982208

In [ ]:
#K=30 fold 5
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],30)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 5 K=30 MAE : ',mae_sum/mae_cnt)

Fold 5 K=30 MAE :  1.0591625722255642

In [ ]:
#K=40 fold 5
mae_sum=0
mae_cnt=0
for i in range(test.shape[0]):
  #print(i)
  temp = test.iloc[[i]]
  R = getR_itemBased(temp['user_id'][i],temp['item_id'][i],40)
  if(np.isnan(R)==True ):
    print(temp)
  mae_sum += abs(R - temp['rating'][i])
  mae_cnt+=1   

print('Fold 5 K=40 MAE : ',mae_sum/mae_cnt)

Fold 5 K=40 MAE :  1.0651021162820047